*{
    font-family: "Parkinsans", sans-serif;
}
header{
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);

}
.nav-item a{
    color: #FFFFFF;
}
#boton-perfil{
    background-color: #e67e22;
}
.nav-item a:hover{
    color: #16a085;
}
#app{
    color: #ba1e4a;
}
.boton-cv{
    background-color: #8a9b0f;
    color: #e4e6c3;
}
.caja-habilidades{
    background-color: #88baa3;
}
.btn-proyecto{
    background-color: #ba1e4a;
}
.btn-proyecto a{
    text-decoration: none;
    color: #e4e6c3;
}
.card .card-title{
    color: #63210e;
}
#contacto{
    background-color: #88baa3;
    color: #63203d;
}
#btn-contacto{
    background-color: #8a9b0f;
    color: #e4e6c3;
}
#btn-contacto:hover{
    background-color: #63203d;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-outline-secondary:hover {
    border-color: #5a6268;
    color: #5a6268;
    transform: translateY(-2px);
}

.proyectos h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #333;
}

.proyectos .btn-group .btn {
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}
